

.signin-section {

    height: calc(100vh - 64px);
    border-radius: 8px;
    padding: 32px;
    display: flex;
}

.signin {
    display: flex;
    flex: 1 1 0;
    border-radius: 8px; 
    padding: 32px; 
}


.signin-wrapper {
    flex: 1 1 auto;
    border: 1px solid #d5d7d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
}

.signin-wrapper h1:first-child {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.signin-wrapper form {
    width: 480px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.signin-wrapper form label {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

}

.forgot-your-password {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

.signin-wrapper form label input {
    border-radius: 8px;
    padding: 8px 16px;
    display: block;
    font-size: 1rem;
    line-height: 1.75;
    color: #0d161b;
    background-color: #fff;
    border: 1px solid #d5d7d9;
    width: 100%;
}

.btn-signin {
    width: fit-content;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: var(--primary-color);
}

.signin-wrapper form label input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 8px rgba(75,42,173,.25)
}

.forgot-your-password {
    display: flex;
    margin-top: 16px;
    color:#53595c !important;
}

.forgot-your-password p {
    font-size: 1rem;
}

@media (max-width:480px) {
    .signin-section {
        padding: 0;
    }

    .signin-wrapper {
        padding: 0;
    }
    .signin .signin-wrapper form {
        display: flex;
        flex-direction: column;
        padding: 8px 16px;
        row-gap: 16px;
        width: 100%;
    }
}