.root-layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100vw;
    height: 64px;
    background-color: var(--background-color);
    font-family: inherit,sans-serif;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 0px 0px, rgba(0, 0, 0, 0) 0px 2px 4px 0px;
    top: 0;
    left: 0;
    justify-content: center;
    box-shadow: 0 1px rgba(13,22,27,0.2);
    position: sticky;
    z-index: 999;

}

main {
    flex: 1;
    width: 100%;
    
}

footer {
    width: 100%;
    display: flex;
    height: auto;
    background-color: var(--footer-color);
    justify-content: center;
    align-items: center;

}